{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navigation">
        <ul>
          <li>
            <a href="{% url 'erp_app:index' %}">HOME</a>
          </li>
          <li class="selected">
            <a href="{% url 'erp_app:driver_list' %}">DRIVERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:truck_list' %}">TRUCKS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:trailer_list' %}">TRAILERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:load_list' %}">LOADS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:payroll_list' %}">PAYROLL</a>
          </li>
          <li>
            <a href="{% url 'erp_app:contact_list' %}">CONTACTS</a>
          </li>
        </ul>
      </div>
      <div id="main_content">
        <div class="subcontents">
          <a href="{% url 'erp_app:driver_create' %}">
            <img src="{% static 'img/add_driver.png' %}"
                 alt="Img"
                 height="90"
                 width="180"
                 style="border: 5px solid white">
          </a>
        </div>
        <div id="main_spreadsheet">
          <table style="width:100%">
            <thread>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of birth</th>
              <th>License Number</th>
              <th style="width:5%">State</th>
              <th>Expiration Date</th>
              <th>Hire Date</th>
              <th>Termination Date</th>
              <th>Options</th>
            </tr>
            </thread>
            {% for driver in driver_list %}
              <tbody>
                <tr>
                  <td>{{ driver.first_name }}</td>
                  <td>{{ driver.last_name }}</td>
                  <td>{{ driver.date_of_birth }}</td>
                  <td>{{ driver.license_number }}</td>
                  <td>{{ driver.license_state }}</td>
                  <td>{{ driver.license_exp_date }}</td>
                  <td>{{ driver.driver_start_date }}</td>
                  <td>{{ driver.driver_end_date }}</td>
                  <td>
                    <a href={% url 'erp_app:driver_update' driver.id %}>Update</a> <a href={% url 'erp_app:driver_delete' driver.id %}>Delete</a> <a href="{% url 'erp_app:load_create' %}?driver={{ driver.id }}">Load</a>
                  </td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
