{% extends "erp_app/base.html" %}
{% block content %}
  <div id="main_content">
    <div class="main_forms">
      <h1>
        Are you sure you want to delete the driver: {{ driver }}
        <h1>
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Submit">
            <input type="button"
                   onclick="window.location='{% url 'erp_app:driver_list' %}'"
                   value="Cancel">
          </form>
        </div>
      </div>
    {% endblock content %}
