{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
  </head>
  <body>
    <div id="background">
      <div id="page">
        <div id="header">
          <div id="logo">
            <a href="erp_app/index.html">
              <img src="{% static 'img/truck.PNG' %}"
                   alt="LOGO"
                   height="120"
                   width="200">
            </a>
          </div>
          {% include "erp_app/nav_home.html" %}
        </div>
        <div id="contents">
          <div id="main">
            <div id="testimonials" class="box">
              <div>
                <div>
                  <h3>ERP TRUCKING INC</h3>
                  <p>
                    This website is a part of the portfolio representation by <a href="https://github.com/Elena-R-P/">Elena Ponomareva</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="sidebar">
            <div class="section">
              <a href="{% url 'erp_app:driver_create' %}">
                <img src="{% static 'img/add_driver.png' %}" alt="Img">
              </a>
            </div>
            <div class="section">
              <a href="{% url 'erp_app:truck_create' %}">
                <img src="{% static 'img/add_truck.png' %}" alt="Img">
              </a>
            </div>
            <div class="section">
              <a href="{% url 'erp_app:trailer_create' %}">
                <img src="{% static 'img/add_trailer.png' %}" alt="Img">
              </a>
            </div>
            <div class="section">
              <a href="{% url 'erp_app:load_create' %}">
                <img src="{% static 'img/add_load.png' %}" alt="Img">
              </a>
            </div>
          </div>
        </div>
      </div>
      {% include "erp_app/footer.html" %}
    </div>
  </body>
</html>
