{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navigation">
        <ul>
          <li>
            <a href="{% url 'erp_app:index' %}">HOME</a>
          </li>
          <li>
            <a href="{% url 'erp_app:driver_list' %}">DRIVERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:truck_list' %}">TRUCKS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:trailer_list' %}">TRAILERS</a>
          </li>
          <li class="selected">
            <a href="{% url 'erp_app:load_list' %}">LOADS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:payroll_list' %}">PAYROLL</a>
          </li>
          <li>
            <a href="{% url 'erp_app:contact_list' %}">CONTACTS</a>
          </li>
        </ul>
      </div>
      <div id="main_content">
        <div class="subcontents">
          <a href="{% url 'erp_app:load_create' %}">
            <img src="{% static 'img/add_load.png' %}"
                 alt="Img"
                 height="90"
                 width="180"
                 style="border: 5px solid white">
          </a>
        </div>
        <div id="main_spreadsheet">
          <table style="width:100%">
            <thread>
            <tr>
              <th scope="col">Load#</th>
              <th scope="col">Pickup Date</th>
              <th scope="col">Pickup Location</th>
              <th scope="col">Delivery Date</th>
              <th scope="col">Delivery Location</th>
              <th scope="col">Total Cost</th>
              <th scope="col">Driver Name</th>
              <th scope="col">Options</th>
            </tr>
            </thread>
            {% for load in load_list %}
              <tbody>
                <tr>
                  <td scope="col">{{ load.load_number }}</td>
                  <td scope="col">{{ load.location_pickup }}</td>
                  <td scope="col">{{ load.location_delivery }}</td>
                  <td scope="col">{{ load.pickup_date }}</td>
                  <td scope="col">{{ load.delivery_date }}</td>
                  <td scope="col">${{ load.total_cost }}</td>
                  <td scope="col">{{ load.driver }}</td>
                  <td scope="col">
                    <a href={% url 'erp_app:load_update' load.id %}>Update</a> <a href={% url 'erp_app:load_delete' load.id %}>Delete</a>
                  </td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
