{% load static %}
<div id="navigation">
  <ul>
    <li>
      <a href="{% url 'erp_app:index' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'erp_app:drivers_list' %}">DRIVERS</a>
    </li>
    <li class="selected">
      <a href="{% url 'erp_app:trucks_list' %}">TRUCKS</a>
    </li>
    <li>
      <a href="{% url 'erp_app:trailers_list' %}">TRAILERS</a>
    </li>
    <li>
      <a href="{% url 'erp_app:loads_list' %}">LOADS</a>
    </li>
    <li>
      <a href="{% url 'erp_app:payroll' %}">PAYROLL</a>
    </li>
    <li>
      <a href="{% url 'erp_app:contacts_list' %}">Contacts</a>
    </li>
  </ul>
</div>
<!-- Alternative Nav Bar
				<div id="horizontal-nav">
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="drivers/drivers.html">DRIVERS</a>
						</li>
						<li>
							<a href="trucks.html">TRUCKS</a>
						</li>
						<li>
							<a href="trailers.html">TRAILERS</a>
						</li>
						<li>
							<a href="loads.html">LOADS</a>
						</li>
						<li>
							<a href="payrol.html">PAYROLL</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
</div>-->
