{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navigation">
        <ul>
          <li>
            <a href="{% url 'erp_app:index' %}">HOME</a>
          </li>
          <li>
            <a href="{% url 'erp_app:driver_list' %}">DRIVERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:truck_list' %}">TRUCKS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:trailer_list' %}">TRAILERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:load_list' %}">LOADS</a>
          </li>
          <li class="selected">
            <a href="{% url 'erp_app:payroll_list' %}">PAYROLL</a>
          </li>
          <li>
            <a href="{% url 'erp_app:contact_list' %}">CONTACTS</a>
          </li>
        </ul>
      </div>
      <div id="main_content">
        <div class="subcontents">
          <a href="{% url 'erp_app:truck_create' %}">CREATE PAYROLL</a>
        </div>
        <div id="main_spreadsheet">
          <table style="width:100%">
            <thread>
            <tr>
              <th style="width: 20%">Payroll Date</th>
              <th>Driver Name</th>
              <th>Total Amount</th>
              <th>Options</th>
            </tr>
            </thread>
            {% for truck in truck_list %}
              <tbody>
                <tr>
                  <td>{{ truck.truck_number }}</td>
                  <td>{{ truck.truck_vin_number }}</td>
                  <td>{{ truck.truck_year }}</td>
                  <td>
                    <a href={% url 'erp_app:truck_update' truck.id %}>Update</a> <a href={% url 'erp_app:truck_delete' truck.id %}>Delete</a>
                  </td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
