{% extends 'erp_app/base.html' %}

{% block content %}
  <div id="main_content">
    <div class="main_forms">
      <h2>Add New Driver</h2>
      <!--      <form action="" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
        <input type="submit" onclick="window.location='{% url 'erp_app:index' %}'" value="Cancel">
</form>-->

      <form action="" method="post">
        {% csrf_token %}
        <div>
          <div>{{ form.payroll_date.label }}:</div>
          <div>{{ form.payroll_date }}</div>
          <div>{{ form.payroll_date.errors }}</div>
        </div>
        <div>
          <div>{{ form.driver.label }}:</div>
          <div>{{ form.driver }}</div>
          <div>{{ form.driver.errors }}</div>
        </div>
        <div>
          <input type="submit"
                 value="Calculate Payroll"
                 onclick="calculate_driver_payroll()">
          <input type="submit"
                 onclick="window.location='{% url 'erp_app:index' %}'"
                 value="Cancel">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
