{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navigation">
        <ul>
          <li>
            <a href="{% url 'erp_app:index' %}">HOME</a>
          </li>
          <li>
            <a href="{% url 'erp_app:driver_list' %}">DRIVERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:truck_list' %}">TRUCKS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:trailer_list' %}">TRAILERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:load_list' %}">LOADS</a>
          </li>
          <li class="selected">
            <a href="{% url 'erp_app:payroll_list' %}">PAYROLL</a>
          </li>
          <li>
            <a href="{% url 'erp_app:contact_list' %}">CONTACTS</a>
          </li>
        </ul>
      </div>
      <div id="main_content">
        <div class="subcontents">
          <a class="button" href="{% url 'erp_app:payroll_create' %}">CREATE</a>
        </div>
        <div id="main_spreadsheet">
          <table style="width:100%">
            <thread>
            <tr>
              <th style="width: 15%">Payroll Date</th>
              <th>Driver Name</th>
              <th style="width: 5%">%</th>
              <th>Total Pay</th>
              <th>Options</th>
            </tr>
            </thread>
            <tbody>
              {% for payroll in payroll_list %}
                <tr>
                  <td>{{ payroll.payroll_date }}</td>
                  <td>{{ payroll.driver }}</td>
                  <td>{{ payroll.discount_percentage }}</td>
                  <td>${{ payroll.total_pay }}</td>
                  <td>
                    <a href={% url 'erp_app:payroll_update' payroll.id %}>Update</a> <a href={% url 'erp_app:payroll_delete' payroll.id %}>Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
