{% extends 'erp_app/base.html' %}

{% block content %}
  <div id="main_content">
    <div class="main_forms">
      <h2>Payroll Calculations</h2>
      <form method="post">
        {% csrf_token %}
        <div>
          <div>{{ form.payroll_date.label }}:</div>
          <div>{{ form.payroll_date }}</div>
          <div>{{ form.payroll_date.errors }}</div>
        </div>
        <div>
          <div>{{ form.driver.label }}:</div>
          <div>{{ form.driver }}</div>
          <div>{{ form.driver.errors }}</div>
        </div>
        <div>
          <div>{{ form.discount_percentage.label }}:</div>
          <div>{{ form.discount_percentage }}</div>
          <div>{{ form.discount_percentage.errors }}</div>
        </div>
        <div>
          <button type="submit">Calculate payroll</button>
          <a href="{% url 'erp_app:payroll_list' %}" class="btn">Cancel</a>
        </div>
      </form>
      {% if form.errors %}
        <ul class="errorlist">
          {% for field, errors in form.errors.items %}
            {% if field != '__all__' %}
              <li>
                {{ field }}:
                <ul>
                  {% for error in errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
          {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}
