{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP Trucking Inc</title>
    <link rel="stylesheet" href="{% static 'styles1.css' %}" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navigation">
        <ul>
          <li>
            <a href="{% url 'erp_app:index' %}">HOME</a>
          </li>
          <li>
            <a href="{% url 'erp_app:driver_list' %}">DRIVERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:truck_list' %}">TRUCKS</a>
          </li>
          <li class="selected">
            <a href="{% url 'erp_app:trailer_list' %}">TRAILERS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:load_list' %}">LOADS</a>
          </li>
          <li>
            <a href="{% url 'erp_app:payroll_list' %}">PAYROLL</a>
          </li>
          <li>
            <a href="{% url 'erp_app:contact_list' %}">CONTACTS</a>
          </li>
        </ul>
      </div>
      <div id="main_content">
        <div class="subcontents">
          <a href="{% url 'erp_app:trailer_create' %}">
            <img src="{% static 'img/add_trailer.png' %}"
                 alt="Img"
                 height="90"
                 width="180"
                 style="border: 5px solid white">
          </a>
        </div>
        <div id="main_spreadsheet">
          <table style="width:100%">
            <thread>
            <tr>
              <th>Unit Numer</th>
              <th>VIN#</th>
              <th>Year</th>
              <th>Make</th>
              <th>Plate Number</th>
              <th style="width:5%">State</th>
              <th>Start Date</th>
              <th>Termination Date</th>
              <th>Options</th>
            </tr>
            </thread>
            {% for trailer in trailer_list %}
              <tbody>
                <tr>
                  <td scope="col">{{ trailer.trailer_number }}</td>
                  <td scope="col">{{ trailer.trailer_vin_number }}</td>
                  <td scope="col">{{ trailer.trailer_year }}</td>
                  <td scope="col">{{ trailer.trailer_make }}</td>
                  <td scope="col">{{ trailer.trailer_plate_number }}</td>
                  <td scope="col">{{ trailer.trailer_plate_state }}</td>
                  <td scope="col">{{ trailer.trailer_start_date }}</td>
                  <td scope="col">{{ trailer.trailer_end_date }}</td>
                  <td scope="col">
                    <a href={% url 'erp_app:trailer_update' trailer.id %}>Update</a> <a href={% url 'erp_app:trailer_delete' trailer.id %}>Delete</a>
                  </td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
