{% extends 'erp_app/base.html' %}

{% block content %}
  <div id="main_content">
    <div class="main_forms">
      <h2>Add New Truck</h2>
      <form action="" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button class="button" type="submit">Submit</button>
        <button class="button"
                onclick="window.location='{% url 'erp_app:truck_list' %}'">Cancel</button>
      </form>
    </div>
  </div>
{% endblock content %}
